<h1>Decision TriiT</h1>
<h3>La mejor opción para "<%=@dilema%>" será: <%=@so%></h3>
</br>
</br>
La ruta ideal sería: <%=@ideal_route%>
</br>
El beneficio por tomar la decisión correcta es: <%=@ideal_gain%>

</br>
</br>
<%= button_to "Back", action: "clear"%>

