<h1>Decision TriiT</h1>

<div>
  <ul id="list-box">
  <%unless @m==0%>
    <%@number.each do |f|%>
      <li>
        <%=f%>
      </li>
    <%end%>
    </ul>
  <%end%>
</div>

<%= form_for :hash, remote: true, html: 
  {id: "array-form", 
  :"data-type" => "json"} do |f| %>

  <div id="new_id">Id: <%=@m%></div>
  Add Question: <%= f.text_field :text %> 

  <div id="to_select"> Add Parent: <%= f.select(:parent, @idsMap)%> </div> </br>
  <%= button_to "Add", action: "add"%>

<% end %>
