<h1>Decision TriiT</h1>
<!--Botón para borrar todos los datos ya puestos-->
<%= button_to "Clear", action: "clear"%>
</br>
<% unless @decisions.nil? %>
  <% @decisions.each do |dec| %>
    <p><%= Decision.convert_decision_into_hash(dec.id)%></p>
  <% end %>
<% end %>


<!--Lista donde me aparecerán los "nodos"-->
<div id="my_list">
  <ul id="list-box">
  </ul>
</div>


<!--Formulario donde insertaré las cosas
    Diseñado para que se  actualice automaticamente-->
<div id="my_form">
  <!--Comienza a crear el formulario de :hash-->
  <%= form_for :hash, http: { method: 'add' }, remote: true, html: {id: "array-form", :"data-type" => "json"} do |f| %>

    <!--Me imprime la variable @m, que será el id del proximo puesto-->
    <div id="new_id">Id: <%=@m%></div>

    <!--Si no se han creado nodos, inicia con una duda básica-->
    <%unless @m==0%>
      Add Scenario: <%= f.text_field :text %>    |

      Add Parent: <%= f.select(:parent, @IdsMap) %>   |

      Probability To Here <%= f.text_field :probability, :size => "5" %>  |

      Gain: <%= f.text_field :gain %></br>

    <%else%>
      Add Question: <%= f.text_field :text %>
      
    <%end%>

    <!--Botón para añadir el nodo que sigue la instrucción del controlador-->
    <%= button_to "Add", action: "add"%>
    
    
    
  <% end %>

</div>

  </br>
  <div id="error"></div>


<%= button_to "Find Choice", action: "find_choice"%>