<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :node_parent %>
  </div>


  <div class="field">
    <%= form.label :parent %>
    <%= form.number_field :parent, id: :node_parent %>
  </div>

  <div class="field">
    <%= form.label :gain %>
    <%= form.text_field :gain, id: :node_gain %>
  </div>

  <div class="field">
    <%= form.label :probability %>
    <%= form.text_field :probability, id: :node_probability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
