<p id="notice"><%= notice %></p>

<h1>Nodes</h1>

<table>

  <tbody>
    <% @nodes.each do |node| %>
      
      <tr>
        <td>Id: <%= node.ide %></td>
        <%if (node.ide!=0)%>
          <td>Padre: <%= node.parent %></td>
        <%else%>
          <td></td>
        <%end%>

        <%if (node.gain != -Float::INFINITY)%>
          <td>Ganancia: <%= node.gain%></td>
        <%else%>
          <td></td>
        <%end%>

        <%if (node.probability != 100.to_f) %>
          <%if (node.ide != 0) %>
            <td>Probabilidad: <%=node.probability%>%</td>
          <%else%>
            <td></td>
          <%end%>
        <%else%>
          <td></td>
        <%end%>
        
        <td>Hijos: <%= node.children.split(',').map { |s| s.to_i } %></td>
        <td><b><%= node.name %></b></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node', new_node_path %>
<%= link_to 'Calculate', action: "find_choice" %>